body, html {
    font-family: monospace;
    box-sizing: border-box;
    background: #fff8ec;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
}

::selection {
    background-color: #ffe100;
    color: #000000;
}

i {
    font-size: 18px;
    width: 20px;
}

.social-links {
    font-size: 16px;
    color: #2f81f7;
    
}


header {
    border-bottom: 4px solid black;
    width: 100%;
    display: flex;
}

.header-body {
    width: 95%;
    height: 110px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.blog-name{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    padding: 0;
}

.blog-name:hover{
    text-decoration: underline;
}

.about{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.about:hover{
    text-decoration: underline;
}

footer {
    padding: 40px 0;
    height: 100px;
    border-top: 1px solid black;
    margin-top: auto;
}

.footer-body {
    height: 100%;
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footnote {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.connect{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-around; */
}

.main {
    width: 100%;
    position: relative;
    margin: 40px auto;
    max-width: 50%;
}

/* ------------- POSTS HTML ------------- */

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.blog-title {
    margin: 10px 0;
    border-left: 8px solid black;
    padding: 10px 0;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #2f81f7;
}

.post:hover > .blog-title {
    text-decoration: underline;
}

.blog-date {
    font-size: 16px;
}

/* ------------- BLOG HTML ------------- */

.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    padding-bottom: 1em;
}

#blog-title{
    font-size: 2.5em;
    padding: 0;
    border-bottom: none;
}

#blog-date{
    margin: 0;
    padding: 1em 0;
    font-size: 1em;
    font-weight: normal;
    border-bottom: none;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    right: 0px;
    top: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.likes span{
    text-align: center;
    width: 40px;
}

#like {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    font-size: 16px;
    transition: 0.1s ease;
    color: #fff8ec;
}

#like.liked {
    color: #ff4851;
}

@media (max-width: 768px){
    .likes{
        top: 145px
    }

    .header-body{
        width: 90%;
    }

    .blog-name {
        font-size: 16px;
    }

    .about{
        font-size: 16px;
    }

    footer{
        height: auto;
    }

    .footer-body{
        width: 90%;
        flex-direction: column;
        gap: 30px;
    }

    .footnote, .connect{
        width: 100%;
    }

    .social-links{
        font-size: 12px;
    }

    /* --------------- BLOG HTML --------------- */
    .main {
        margin: 30px auto;
        max-width: 90%;
    }

    /* --------------- POSTS HTML --------------- */
    .blog-title{
        font-size: 16px;
        padding-left: 15px;
        border-left: 4px solid black;
    }

    .blog-date{
        font-size: 15px;
    }

}