:root {
    --bg-color: #000000;
    --text-color: #fff;
    --border-color: #ff0048;
    --links-color: #ff0048;
}

.light-mode {
    --bg-color: #fff8ec;
    --text-color: #000;
    --border-color: black;
}

*{
    color: var(--text-color);
}

body, html {
    font-family: monospace;
    box-sizing: border-box;
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
}

.markdown-body hr{
    background-color: var(--border-color);
}

.markdown-body a{
    color: var(--links-color);
}

.markdown-body blockquote::before, .markdown-body blockquote::after{
    color: var(--text-color);
}

.markdown-body h2, .markdown-body blockquote{
    border-color: var(--border-color);
}

::selection {
    background-color: var(--border-color);
    color: white;
}

i {
    font-size: 18px;
    width: 20px;
}

.social-links {
    font-size: 16px;
    color: var(--links-color);
}


header {
    border-bottom: 4px solid var(--border-color);
    width: 100%;
    display: flex;
}

.header-body {
    width: 95%;
    height: 110px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar i{
    color: var(--border-color);
    cursor: pointer;
}

.blog-name{
    color: var(--border-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    padding: 0;
}

.blog-name:hover{
    text-decoration: underline;
}

.about{
    color: var(--border-color);
    text-decoration: none;
    font-size: 18px;
}

.about:hover{
    text-decoration: underline;
}

footer {
    padding: 40px 0;
    border-top: 1px solid var(--border-color);
    margin-top: auto;
}

.footer-body {
    height: 100%;
    width: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footnote {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.connect{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-around; */
}

.buymeacoffee button{
    padding: 10px 15px;
    background: var(--links-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    font-size: 14px;
    font-family: monospace;
    /* font-weight: bold; */
    cursor: pointer;
    transition: 0.1s ease;
}

.buymeacoffee button:hover{
    background: transparent;
    color: var(--text-color);
}

.main {
    width: 100%;
    position: relative;
    margin: 40px auto;
    max-width: 50%;
}

/* ------------- POSTS HTML ------------- */

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.blog-title {
    margin: 10px 0;
    border-left: 8px solid var(--border-color);
    padding: 10px 0;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #2f81f7;
}

.post:hover > .blog-title {
    text-decoration: underline;
}

.blog-date {
    font-size: 16px;
}

/* ------------- BLOG HTML ------------- */

.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--border-color);
    padding-bottom: 1em;
}

#blog-title{
    font-size: 2.5em;
    padding: 0;
    border-bottom: none;
}

#blog-date{
    margin: 0;
    padding: 1em 0;
    font-size: 1em;
    font-weight: normal;
    border-bottom: none;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    right: 0px;
    top: 100px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.likes span{
    text-align: center;
    width: 40px;
}

#like {
    background: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    height: 30px;
    width: 30px;
    font-size: 16px;
    transition: 0.1s ease;
    color: var(--bg-color);
}

#like.liked {
    color: #ff4851;
}

@media (max-width: 768px){
    .likes{
        top: 145px
    }

    .header-body{
        width: 90%;
    }

    .blog-name {
        font-size: 16px;
    }

    .about{
        font-size: 16px;
    }

    footer{
        height: auto;
    }

    .footer-body{
        width: 90%;
        flex-direction: column;
        gap: 30px;
    }

    .footnote, .connect{
        width: 100%;
    }

    .social-links{
        font-size: 12px;
    }

    /* --------------- BLOG HTML --------------- */
    .main {
        margin: 30px auto;
        max-width: 90%;
    }

    /* --------------- POSTS HTML --------------- */
    .blog-title{
        font-size: 16px;
        padding-left: 15px;
        border-left: 4px solid var(--border-color);
    }

    .blog-date{
        font-size: 15px;
    }

}